body {
    background-image: url("wallpaper.jpg");
	background-position: center;
	background-attachment: fixed;
}
#pageTitle {
	text-align: center;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
header{
	font-size: 200%;
}

h2 {
    color: #E80C38;
    font-family: verdana;
    font-size: 300%;
}
p  {
    margin: auto;
	color: white;
    width: 400px;
    border: 3px solid #E80C38;
    padding: 5px;
	background-color: black;
	text-align: center;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #E80C38;
    overflow: hidden;
	margin: 0
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #E1526E;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

/*Center an image*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.button {
  border-radius: 4px;
  background-color: #E80C38;
  border: none;
  color: white;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

header, footer {
    color: #002db3;
    background-color: #E80C38;
    clear: left;
    text-align: center;
}

